@inherits ToSic.Sxc.Dnn.RazorComponent

<link rel="stylesheet" href="@App.Path/ege-navigator.css" data-enableoptimizations="150:head"/>
<script src="@App.Path/ege-navigator.js" type="text/javascript" data-enableoptimizations="bottom"></script>

<table width="100%">
 <tbody>
  <tr align="center">
   <td id="td1" valign="top">
   <div id="btnContainer">&nbsp;</div>
   <div style="clear:both;">&nbsp;</div>
   <div id="specContainer">&nbsp;</div>
   </td>
  </tr>
  <tr>
   <td id="td2" valign="top">
   <table border="1" id="tab">
   </table>
   </td>
  </tr>
 </tbody>
</table>
